.headingLevel1--tagline--title {
  text-transform: uppercase;
  font-size     : 1.7em;
  color         : #fff;
}

.container--category__name {
  background-color: #fff;
  transition      : .5s ease;
}

.wrapper--category__name {
  width: 100%;
}

.paragraph--category__name {
  margin : 0;
  padding: 15px 15px 20px;
}

/* Home instagram grid */


.container--home__title {
  width         : 100%;
  margin        : .5em auto;
  overflow      : hidden;
  text-align    : center;
  text-transform: uppercase;
  font-size     : 20px;
  color         : #555;
}

.container--home__title::before,
.container--home__title::after {
  content         : "";
  display         : inline-block;
  width           : 50%;
  margin          : 0 .5em 0 -55%;
  vertical-align  : middle;
  border-bottom   : 2px solid;
  color           : currentColor;
  opacity         : .1;
  /* height       : 5px;
  opacity         : .1;
  background-color: red; */
}

.container--home__title::after {
  margin: 0 -55% 0 .5em;
}

.wrapper--instagram_grid--text {
  position        : absolute;
  bottom          : 0;
  background-color: rgba(0, 0, 0, 0.5);
  color           : #fff;
  width           : 100%;
  height          : 0;
  visibility      : hidden;
  padding         : 0 .5em;
  transition      : .5s ease;
  overflow        : scroll;
  text-overflow   : clip;
}

.wrapper--buy-instructions__title {
  color      : #046ec2;
  font-weight: 700;
  font-size  : 1em;
}

.wrapper--buy-instructions__text {
  color        : #777;
  width        : 100%;
  margin-top   : 0;
  margin-bottom: 0.5em;
}

.wrapper--button__text {
  color         : #fff;
  padding-right : 0.5em;
  text-transform: uppercase;
  font-size     : .77em;
  cursor        : pointer;
  font-weight   : bolder;
  text-align    : center;
}

.paragraph--button__text {
  margin: 0.5em 0;
}

@media screen and (max-width: 850px) {

  .paragraph--home__title::before,
  .paragraph--home__title::after {
    width: 100%;
  }
}
