.imageElement--home__slider {
  max-height: initial !important;

}

.slide--home__categories--all {
  padding        : 0 .5rem .8rem;
  text-decoration: none;
}

/* Product shelf slider */

.slideChildrenContainer--product-shelf__slider :global(.vtex-modal-layout-0-x-triggerContainer) {
  position        : absolute;
  bottom          : 0;
  right           : 0;
  left            : 0;
  width           : 100%;
  background-color: #046ec2;
  overflow        : hidden;
  height          : 0;
  transition      : .5s ease;
}

.slideChildrenContainer--product-shelf__slider:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  height: 1.5em;
}

.slideChildrenContainer--product-shelf__slider :global(.vtex-button){
  background-color: transparent;
  border: none;
}
