.flexRow--home__tagline {
  background-color: #000;
}

/* Main categories section */

.flexRow--home__main-categories {
  height: 14rem;
  width : 100%;
}

.flexRowContent--home__main-categories {
  padding-top   : 1.8rem;
  padding-bottom: 1.5rem;
}

.flexCol--home__main-categories {
  background-color: aliceblue;
  height          : 160px;
  justify-content : center;
}

.flexColChild--home__main-categories {
  transition: 1s ease;
}

.flexColChild--home__main-categories:hover {
  -webkit-transform: scale(1.1);
  -ms-transform    : scale(1.1);
  transform        : scale(1.1);
  transition       : 1s ease;
  /* transition    : filter .6s,opacity .6s,transform .6s,box-shadow .3s,-webkit-filter .6s,-webkit-transform .6s,-webkit-box-shadow .3s; */
}

.flexCol--main-categories__container_phone {
  height: fit-content;
}

.flexColChild--main-categories__container_phone {
  padding-top   : 1.5rem;
  padding-bottom: 1.8rem;
}

.flexRow--main-categories_phone {
  margin-right: 0;
  right       : auto;
}

.flexRowContent--main-categories_phone :global(.vtex-store-components-3-x-imageElementLink) {
  display        : flex;
  justify-content: center;
  height         : 160px;
}

.flexRowContent--main-categories_phone {
  transition: 1s ease;
}

.flexRowContent--main-categories_phone:hover {
  -webkit-transform: scale(1.1);
  -ms-transform    : scale(1.1);
  transform        : scale(1.1);
  transition       : 1s ease;
  /* transition    : filter .6s,opacity .6s,transform .6s,box-shadow .3s,-webkit-filter .6s,-webkit-transform .6s,-webkit-box-shadow .3s; */
}

.flexCol--home__categories-ps {
  background-color: #043394;
}

.flexCol--home__categories-nintendo {
  background-color: #fc0204;
}

.flexCol--home__categories-xbox {
  background-color: #047e04;
}

.flexRowContent--home__categories-ps {
  background-color: #043394;
}

.flexRowContent--home__categories-nintendo {
  background-color: #fc0204;
}

.flexRowContent--home__categories-xbox {
  background-color: #047e04;
}

.flexColChild--home__categories--all {
  padding: 0 10px 20px;
}

/* Home Instagram Grid  */
.flexRow--instagram__grid-row {
  padding: 0 .5em;
  margin : 0 10px 30px 0;
}

.flexRowContent--instagram__grid-row {
  display              : grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.flexRowContent--instagram__grid-row {
  align-items: center;
  flex-wrap  : wrap;
}

.flexRowContent--instagram__grid-row :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  flex  : 20%;
  width : auto !important;
  height: fit-content;
}

.flexCol--instagram__grid-col {
  position : relative;
  max-width: fit-content;
}

.flexCol--instagram__grid-col:hover :global(.vtex-rich-text-0-x-wrapper--instagram_grid--text) {
  visibility: visible;
  height    : 100%;
}

.flexColChild--instagram__grid-col {
  flex-grow : 1;
  width     : 100%;
  max-width : 261px;
  max-height: 261px;
  min-width : 160px;
}

/* Buying Instructions */

.flexRow--home__buy-instructions {
  margin-top      : 2rem;
  padding-top     : 30px;
  background-color: rgba(4, 1, 1, 0.06);
  border-top      : 4px dotted rgb(3, 57, 104);
}

.flexRowContent--home__buy-instructions--sections {
  align-items: baseline;
}

.flexCol--home__buy-instructions-col {
  padding: 0 15px 30px;
}

.flexColChild--buy-instructions--button {
  width : 10rem;
  height: 5rem;
  color : #fff;
}

.flexRow--home__buy-instructions--button::after {
  content         : " ";
  margin-top      : 1.6em;
  margin-bottom   : 1.6em;
  height          : 3px;
  display         : block;
  background-color: rgba(0, 0, 0, .1);
  width           : 100%;
  max-width       : 30px;
  margin-left     : auto;
  margin-right    : auto;
}

.flexRowContent--instructions__button--container {
  align-items    : center;
  justify-content: space-evenly;
}

@media screen and (max-width: 850px) {
  .flexRowContent--instagram__grid-row {
    display              : grid;
    grid-template-columns: 33.333% 33.333% 33.3333%;
  }
}

@media screen and (max-width: 550px) {
  .flexRowContent--instagram__grid-row {
    display              : grid;
    grid-template-columns: 50% 50%;
  }

}
