.menuContainer--footer__menu {
  margin : 0 0 24px;
  padding: 0 1.2rem 0 1rem;
}


.menuItem--footer__menu {
  border-top: 1px solid rgba(255, 255, 255, .08);
}

.menuItem--footer__menu:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0);
}

.styledLinkContainer--footer__menu {
  margin : 0;
  padding: 0;
}

.styledLinkContent--footer__menu {
  color      : #fff;
  padding    : 6px 0;
  white-space: normal;
}
