.drawer--header__mobile--menu {
  background-color: initial;
}

.closeIconContainer--header__mobile--menu {
  background-color: #fff;
}

.closeIcon--header__mobile--menu {
  color: rgba(0, 0, 0, .09);
}
