.searchBarInnerContainer--header__search-bar {
  padding-right: 2rem;
}

.searchBarInnerContainer--header__search-bar :global(.vtex-input-prefix__group) {
  border-radius: 80px;
  border       : none;
  height       : 1.807em;
}

.searchBarInnerContainer--header__search-bar :global(.vtex-styleguide-9-x-input),
.searchBarInnerContainer--header__search-bar :global(.vtex-input__suffix),
.searchBarIcon--header__search-bar {
  background-color: rgb(2 54 95);
  color           : #fff;
  border          : none;
  font-size       : 0.95em;
}

.searchBarInnerContainer--header__search-bar :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #fff;
}

@media screen and (max-width: 1025px) {
  .searchBarInnerContainer--header__search-bar {
    padding: 0;
  }

  .searchBarInnerContainer--header__search-bar :global(.vtex-input-prefix__group) {
    background-color: rgba(0, 0, 0, .03);
    border          : 1px solid #ddd;
    height          : 2.507em;
    font-size       : .97em;
  }

  .searchBarInnerContainer--header__search-bar :global(.vtex-styleguide-9-x-input),
  .searchBarInnerContainer--header__search-bar :global(.vtex-input__suffix),
  .searchBarIcon--header__search-bar {
    background-color: rgba(0, 0, 0, .0);
    border-color    : rgba(0, 0, 0, .09);
    color           : #ccc;
  }

  .searchBarInnerContainer--header__search-bar :global(.vtex-styleguide-9-x-input)::placeholder {
    color: #ccc;
  }
}
