.container{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0;
  padding: 0;
}
.homeIcon{
  display: none;
}
.caretIcon{
  display: none;
}
.arrow::before{
  content: "/";
  color: #f1f1f1;
}
.homeLink::after{
  content: "Inicio";
  color: #fff;
  font-weight: normal;
}
.link{
  color: #f1f1f1;
}
